#one {
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    padding: 10px;
    background-color: rgb(124, 133, 124);
    width: 420px;
    height: 480px;
    text-align: center;
}

#two {
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    padding: 10px;
    background-color: rgb(119, 119, 99);
    width: 420px;
    height: 480px;
    text-align: center;
}

#three {
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    padding: 10px;
    background-color: rgb(117, 95, 95);
    width: 420px;
    height: 480px;
    text-align: center;
}

#four {
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    padding: 10px;
    background-color: rgb(124, 133, 124);
    width: 420px;
    height: 480px;
    text-align: center;
}

#five {
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    padding: 10px;
    background-color: rgb(119, 119, 99);
    width: 420px;
    height: 480px;
    text-align: center;
}

#six {
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    padding: 10px;
    background-color: rgb(117, 95, 95);
    width: 420px;
    height: 480px;
    text-align: center;
}

#container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
  }

  a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: red;
  }

  #header {
    text-align: center;
  }

  img {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }